<div id="banner">
  <div class="banner_content">
    <h1 class="banner_title">File Cabinet</h1>
    <p>Organize your life's work</p>
    <div class="button">
      <%= link_to "Let's get started!", new_user_registration_path %>
    </div>
  </div>
</div>

<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <h2>Organize</h2>
      <p>IPhone nulla fam, wayfarers labore shoreditch thundercats. Shaman asymmetrical dolore intelligentsia austin consectetur sunt flannel vaporware hexagon. Thundercats YOLO pour-over, retro man braid ethical hexagon veniam tumblr lyft coloring book brunch woke reprehenderit do. Elit squid poke listicle 8-bit keytar normcore.</p>
    </div>
  </div>
</div>

<div id="banner">
  <div class="wrapper">
    <h2>Go Ahead!</h2>
    <br>
    <div class="button">
      <%= link_to "Join Now!", new_user_registration_path %>
    </div>
  </div>
</div>