@import 'variables';

@font-face {
  font-family: "Typewriter";
  src: font-url('../fonts/atwriter.ttf') format ('truetype');
}

body {
  font-family: "Typewriter", sans-serif;
  color: $grey-green;
}

#navbar {
  background: $grey-green;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  
  .nav_title {
    font-size: 1.3em;
  }

  a {
    text-decoration: none;
    color: $brown-yellow;
    font-weight: bold;
    margin: 0 10px;

    &:hover {
      color: $light-grey-green;
    }
  }
}

#form {
  text-align: center;
  padding-top: 50px;
  font-size: 0.9em;
  font-weight: bold;

  .title {
    margin: 0px 0 40px;
  }
  
  input[type="text"], input[type="email"], input[type="password"], textarea {
    background: none;
    text-align: center;
    outline: none;
    border: 2px solid $grey-green;
    width: 250px;
    border-radius: 20px;
    margin: 10px 0 25px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    height: 30px;
  }
  
  textarea {
    height: 100px;
  }

  input[type="submit"] {
    background: $grey-green;
    color: $brown-yellow;
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $grey-green;

    &:hover {
      color: $light-grey-green;
    }
  }
}

.button {
  background: $grey-green;
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;

  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    background: $light-grey-green;
    cursor: pointer;
  }
}

.marg_btn {
  margin: 40px 10px 30px;
}